.App {
  text-align: center;
  background-color: #f5ed00;

}
.toggle.toggled {
  text-align: center;
  background-color: #262832;

}

.App-header {
  background-color: #282c34d2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
